<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
</head>
<body>
    <h1 class="main_heading">GradeGaze</h1>
    <h4 class="sub_heading">know your marks before you know</h4>
    <h4 class="instruction">Provide Details of the Student</h4>
    <form action="/" method="POST" class ="form">
        <div class="formrow1">
            <label for="name" class="formlabel1">Name</label>
            <input class="form-control" id="name" placeholder="Enter Student Name">
        </div>
        <div class="formrow2">
            <label for="traveltime" class="formlabel2">Travel Time</label>
            <input class="form-control" id="traveltime" placeholder="Enter Student's Travel Time">
        </div>
        <div class="formrow3">
            <label for="studytime" class="formlabel3">Study Time</label>
            <input class="form-control" id="studytime" placeholder="Enter Student's Study Time">
        </div>
        <div class="formrow4">
            <label for="failures" class="formlabel4">Failures</label>
            <input class="form-control" id="failures" placeholder="Enter Student's Total Failures">
        </div>
        <div class="formrow5">
            <label for="firstmark" class="formlabel5">First Internal Mark</label>
            <input class="form-control" id="firstmark" placeholder="Enter the First Internal Mark">
        </div>
        <div class="formrow6">
            <label for="secondmark" class="formlabel6">Second Internal Mark</label>
            <input class="form-control" id="secondmark" placeholder="Enter the Second Internal Mark">
        </div>
    </form>

    
</body>
</html>